<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>Lỗi cmnr</p>
<!--<table>-->
<!--  <tr>-->
<!--    <th>Id</th>-->
<!--    <th>Name</th>-->
<!--    <th>Address</th>-->
<!--    <th>View</th>-->
<!--    <th>Edit</th>-->
<!--    <th>Delete</th>-->
<!--  </tr>-->
<!--  <th:block th:each="product : ${listProduct}">-->
<!--    <tr>-->
<!--      <td><p th:text="${product.ProductID}"></p></td>-->
<!--      <td><p th:text="${product.ProductName}"></p></td>-->
<!--      <td><p th:text="${product.Category}"></p></td>-->
<!--      <td><p th:text="${product.ProductUnit}"></p></td>-->
<!--      <td><p th:text="${product.Price}"></p></td>-->
<!--      <td><p th:text="${product.Description}"></p></td>-->
<!--    </tr>-->
<!--  </th:block>-->
<!--</table>-->
</body>
</html>